/* Global Settings */
* {
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: black ;

  background-image: url('/static/images/martin-adams-unsplash-noite-1400-1400-min.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* tables and bigger devices */
@media (min-width:768px){
  body{
    font-size: 1.15rem;
  }
}

/* Stycky Elements: Navbar and Flashed Container */

.navbar{
  position: sticky;
  top: 5px;
  background-color: #330033 !important;
  z-index: 10;
}

.navbar .dropdown-menu{
  background-color: #330033 !important ;
}

.navbar .dropdown-menu a:hover{
  color: black !important;
}

.color-brand{
  color:lightyellow;
}

.color-navbar{
  color: lightsteelblue;
}

.color-auth{
  color: lightyellow;
}

.flashed{
  position: sticky;
  top: 5em;
  /* z-index: -1; */
}

.flashed .alert,
.alert{
  font-variant: small-caps;
  font-size: 17px;
}

/* Forms in register.html and login.html */

.form-boot{
  width: 80%;
  margin:auto;
  /* text-align: center; */
} 

.form-group label{
  color:lightsteelblue;
  display: block;
  text-align: left;
}

/* search.html */

#search, #book-list{
  width: 50%;
  margin:50px auto;
}

.books{
  list-style-type: none;
  margin: 0;
  padding: 0px 5px 8px 5px;
  /* background-color: #330033; */
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

.books li a{
  display: block;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Nanum Gothic', sans-serif;
  padding: 1px 6px;
  color: lightgray;
}

.books li a::before{
  content: '\2329';
  padding-right: 2px;
}

.books li a::after{
  content: '\232a';
  padding-left: 2px;
}

/* Smaller devices  */

@media (max-width:500px){
  .books li a {
    font-size: 0.9rem;
  }

  #search, #book-list{
    margin-top: 30px;
    width: 90%;
    margin:auto;
  }
   
  .flashed .alert,
  .alert{
    font-variant: small-caps;
    font-size: 14px;
  }
}

.books li a:hover{
  color:black;
  background-color: whitesmoke;
}

/* books.html */

.book-container{
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}

/* button */
#add-review{
  position: sticky;
  top: 80px;
}
/* .reviews-container, */
.info-container {
  width: 80%;
  margin: auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 16px;
}

.reviews-container{
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
  margin-top: 15px;
}

 
.book-container ul,
.reviews-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 1.2rem 1.2rem;
}

.book-item, .review-item{
  color:lightsteelblue;
}

.book-data{
  color:lightgray;
}

.review-name, .review-rate, .review-text{
  color: lightgray;
}


.review-text{
  display: inline-block;
  text-align: justify;
}

.hide-form{
  display: none;
}

.show-form{
  display: block;
}

/* Edit.html */

.edit-container{
  width:80%;
  margin:auto;
  font-size: 16px;
}

.edit-container .form-boot{
  width: 100%;
}
@media (max-width:500px){
  .edit-container{
    width:90%;
  }

  .form-boot{
      width: 90%;
      margin:auto;
  }
}
/* Utilities */

.hide-block{
  display: none;
}

.show-block{
  display: block;
}

.butt{
  display: inline-block;
  padding: 8px 30px;
  color: #f4f4f4;
  background-color: navy;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  text-decoration: none;
}

.butt:hover{
  background-color: #f4f4f4;
  color: navy;
}

.center-x{
  /* https://css-tricks.com/quick-css-trick-how-to-center-an-object-exactly-in-the-center/ */
  position: relative;
  left:50%;
  transform: translateX(-50%);
}

/* Tooltips */

.tooltip-inner{
  font-size: 14px;
  white-space: pre-wrap;
  text-align: justify;
} 