{% extends "layout.html" %}

{% block title %}
    Book Info
{% endblock %}

{% block main %}
<div class="info-container">
  <div class="book-container border border-light">
    <ul>
      <li><span class="book-item">Title:</span> 
          <span class="book-data">{{book['title']}}</span>
      </li>
      <li><span class="book-item">Author:</span> 
           <span class="book-data">{{book['author']}}</span>
      </li>
      <li><span class="book-item">Year:</span> 
          <span class="book-data">{{book['year']}}</span>
      </li>
      <li><span class="book-item">ISBN:</span> 
          <span class="book-data">{{book['isbn']}}</span>
      </li>
      {% if book['good_reviews'] %}
        <li><span class="book-item">Reviews (Goodreads):</span> 
            <span class="book-data">{{book['good_reviews']}}</span>
        </li>
      {% endif %}
      {% if book['good_avg'] %}
       <li> <span class="book-item">Average Score (Goodreads):</span> 
            <span class="book-data">{{book['good_avg']}}</span>
      </li>
      {% endif %}
      {% if rack['rack_reviews'] %}
        <li><span class="book-item">Reviews (BookRack):</span> 
            <span class="book-data">{{rack['rack_reviews']}}</span>
        </li>
      {% endif %}
      {% if rack['rack_avg'] %}
       <li> <span class="book-item">Average Score (BookRack):</span> 
            <span class="book-data">{{rack['rack_avg']}}</span>
      </li>
      {% endif %}
    </ul>
  </div>
  <!-- <a href="/" class="butt center-x">Clear</a> -->
  {% if reviews %}
    <div class="reviews-container border border-light">
      {% for review in reviews %}
      <ul>
        <li>
          <span class="review-item">User:</span>
          <span class="review-name">{{review['name']}}</span>
        </li>
        <li>
          <span class="review-item">Rating:</span>
          <span class="review-rate">{{review['rating']}}<span>
        </li>
        <li>
          <span class="review-item">Review:</span>
          <span class="review-text">{{review['review']}}</span>
        </li>
      </ul>
      {% endfor %}
    </div> <!-- reviews-container -->
  {% else %}
    <div class="alert alert-primary border text-center" role="alert">
      No reviews found in BookRack
    </div>
    <button  id="add-review" class="btn btn-primary center-x mb-3">Add Review</button>
  {% endif %}
</div> <!-- info-container -->
<div class="rev-add-container">
  <form class="form-boot hide-form" id="form-add-review" 
    action="{{url_for('add', isbn=book['isbn'])}}" method="post">
    <div class="form-group">
        <input class="form-control" name="rating" placeholder="Rating (1-5)" 
        type="number" value=""  min="1" max="5">
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="10"  name='review' 
        placeholder = "Type your review (at least 10 chars)" 
        minlength=10 ></textarea>
    </div>
    <input  class = "btn btn-primary" type="submit" value="Submit">
  </form>
</div>

{% endblock %}
{% block scripts %}
<script src="/static/book_clean.js"></script>
<script src="/static/add_review.js"></script>
{% endblock %}
