{% extends "layout.html" %}

{% block title %}
    Remove Reviews
{% endblock %}

{% block main %}
<div class="" id="book-list">
  <div class="alert alert-primary border text-center" role="alert">
    Select one of the books to delete your review.
  </div>
  <div class="border border-light">
      <ul class='books'>
          {% for book in books %}
              {% set book_info = book['title'] + ' : ' + book['author']%}
              <li><a href="javascript:" data-toggle='tooltip'
                  title="{{book['tooltip']}}" data-placement='right'
                  data-html='true' data-rating = "{{book['rating']}}"
                  data-review = "{{book['review']}}" data-isbn="{{book['isbn']}}"
                  data-title = "{{book['title']}}" data-author="{{book['author']}}"
                  data-year = "{{book['year']}}" onclick="remove(this)">
                  {{book_info}}</a>
              </li>
          {% endfor %}
      </ul>
  </div> <!-- end bookitem -->
</div> <!-- end flexbox-->

<div class="edit-container hide-block mt-5">
  <div class="book-container border border-light">
    <ul>
      <li><span class="book-item">Title:</span> 
          <span class="book-data"></span>
      </li>
      <li><span class="book-item">Author:</span> 
           <span class="book-data"></span>
      </li>
      <li><span class="book-item">Year:</span> 
          <span class="book-data"></span>
      </li>
      <li><span class="book-item">ISBN:</span> 
          <span class="book-data"></span>
      </li>
      <li><span class="book-item">Rating:</span> 
        <span class="book-data"></span>
      </li>
      <li>
        <span class="book-item">Review:</span> 
        <span class="book-data review-text"></span>
      </li>
    </ul>
  </div>
  <form class="form-boot mt-3 hide-block" id="form-add-review" 
    action="/remove_review" method="post">
    <input class = "btn btn-primary" type="submit" value="Delete">
    <input type="text" name = "isbn" value="" hidden>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{url_for('remove_bp.static', filename='remove.js')}}"></script>
<script src="{{url_for('remove_bp.static', filename='remove_clean.js')}}"></script>
{% endblock %}